*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

svg circle {
    fill: none;
}